
@{
    ViewBag.Title = "Index";
}

<h1>Welcome to the webshop</h1>
<ul>
   
    <li>
        @Html.ActionLink("Catalogues", "Index", "Catalogue")
    </li>
    <li>
        @Html.ActionLink("Customer", "Index", "Customer")
    </li>
    <li>
        @Html.ActionLink("Invoices", "Index", "Invoice")
    </li>

</ul>
